<p-fieldset legend="Consulta de Aluno">
  <form>
    <div class="ui-fluid">
      <div class="ui-g">

        <div class="ui-g-12 ui-md-6">
          <input type="text" name="nome" pInputText [(ngModel)]="aluno.nomeContratante" placeholder="Nome"/>
        </div>

        <div class="ui-g-12 ui-md-6">
          <p-inputMask type="text" name="cpf" [(ngModel)]="aluno.cpf" placeholder="Número do CPF" mask="999.999.999-99"></p-inputMask>
        </div>

      </div>
      <div class="ui-g">
        <div class="ui-g-offset-11 ui-md-2">
          <button pButton label="Buscar" class="ui-button-raised ui-button-success" (click)="onClickSearch()"></button>
        </div>
      </div>
    </div>
  </form>
  <p-table [value]="alunos" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Data de Nascimento</th>
        <th>Nome do Responsável</th>
        <th>Parentesco</th>
        <th>CPF Parentesco</th>
        <th>Telefone Parentesco</th>
        <th>Professor</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-aluno>
      <tr>
        <td>{{aluno.nomeContratante}}</td>
        <td>{{aluno.cpf}}</td>
        <td>{{aluno.dataNascimento}}</td>
        <td>{{aluno.nomeResponsavel}}</td>
        <td>{{aluno.parentesco}}</td>
        <td>{{aluno.cpfParentesco}}</td>
        <td>{{aluno.telefoneParentesco}}</td>
        <td>{{aluno.professor.nome}}</td>
      </tr>
    </ng-template>
  </p-table>
</p-fieldset>
