<p-menubar [model]="items">
  <div>
    <button pButton label="Logout" icon="pi pi-sign-out" class="ui-button-raised ui-button-danger" style="margin-left:.25em"></button>
  </div>
</p-menubar>
<router-outlet></router-outlet>
